header {
  width: 100%;
  background-color: white;
  color: #b9cdbe; }
  header nav {
    width: 100%;
    height: 100px;
    padding: 1%;
    background-color: white;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 40% 60%; }
    header nav img {
      height: 100%;
      align-items: center; }
    header nav ul {
      font-family: "Nunito", sans-serif;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
    header nav li {
      display: inline-block;
      padding: 1%; }
    header nav a {
      text-decoration: none; }

main {
  padding: 5%; }
  main div {
    align-items: center;
    padding: 5px; }
  main .container {
    padding: 1%;
    align-items: center; }

footer {
  background-color: #b9cdbe;
  height: 5%;
  padding: 1%;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 90% 5% 5%; }
  footer p {
    font-family: "Nunito", sans-serif; }
  footer img {
    height: 30%; }

body {
  margin: 0px;
  height: 100%; }

.contenidoViandas {
  width: 90%;
  height: 90%;
  padding: 2%;
  margin: 0px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-template-rows: 50% 20% 30%;
  grid-template-areas: "cajaIndividuales cajaEnsaladas cajaEjecutivas"  "cajaIndividuales cajaEnsaladas cajaEjecutivas" "cajaIndividuales cajaEnsaladas cajaEjecutivas";
  column-gap: 50px;
  justify-items: center;
  align-items: center; }
  .contenidoViandas .viandasIndividuales, .contenidoViandas .ensaladas, .contenidoViandas .viandasEjecutivas {
    width: 90%;
    background-color: #b8cdbe;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center; }

.contenidoNosotros {
  width: 80%;
  height: 80%;
  padding: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .contenidoNosotros .imgNosotros, .contenidoNosotros .parrafoNosotros {
    padding: 2%; }
  .contenidoNosotros .parrafoNosotros {
    color: black;
    font-size: 100%;
    font-family: "Nunito", sans-serif; }
