@import "_variables.scss";

footer {
    height: 20%;
    background-color: $color_marcario;    
display: grid;
grid-template-columns: 50 50;
grid-template-rows: 100;
grid-template-areas: "vacio logos";


.logosRedes {
    padding: 2%;
    grid-area: "logos";
}

img {
    padding-top: 1%;
    padding-bottom: 1%;
    height: 70%;

}



}

