@import "_variables.scss";

footer {
    
    height: 90px;

    .footerContent {
        padding: 1%;
        background-color: $color_marcario;
    }

    p {
        font-family: $tipografia_marcaria;
    
    }

    img {
        height: 50%;    
    }
}