@import "_variables.scss";

header {
    width: 100%;
    background-color: white;
    color: $color_marcario;

    nav {
        width: 100%;
        height: 100px;
        padding: 1%;
        background-color: white;
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 40% 60%; 
        
        img {
            height: 90%;
            align-items: center;
        }


        
        ul {
            font-family: $tipografia_marcaria;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            
        }

        li {
            display: inline-block;
            padding: 1%;
        }
    
        a {
            text-decoration: none;
        }
    }




}


