.contenidoNosotros{


    .imgNosotros {
        padding: 2%;
    }

    .parrafoNosotros {
        @extend .imgNosotros;
        color: black;
        font-size: 100%;
        font-family: $tipografia_marcaria;
    }

    

}