main{
    padding: 5%;

    div {
        align-items: center;
        padding: 5px;

    }

    @mixin container ($alineacionItems, $paddingItems) {
        padding: $paddingItems;
        align-items: $alineacionItems;   
        
    }



    .container {
    @include container(center, 1%)
    }

    

}

