.contenidoNosotros{
    width: 80%;
    height: 80%;
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .imgNosotros {
        padding: 2%;
    }

    .parrafoNosotros {
        @extend .imgNosotros;
        color: black;
        font-size: 100%;
        font-family: $tipografia_marcaria;
    }

    

}