//generico

$color_marcario: rgb(185, 205, 190);
$tipografia_marcaria: 'Nunito', sans-serif;
$border-radius: 50px;
$border-color: solid;
$background: url("../img/trama_background.png");

//color marcario

$principal: rgb(185, 205, 190);

//variables bootstrap

$primary: $principal;

$nav-pills-link-active-color: white;

$box-shadow: 0 .125rem .25rem black;

@import "../boostrap/bootstrap/scss/bootstrap";


//queeries

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);
